{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

<div class="container">

  <div class="announcement__flex">

    {%- if section.settings.store_locator -%}
      <div class="locator">
        <a href="/locator" class="lnk">Store Locator</a>
      </div>
    {% endif %}

    <div class="announcement__returns">
      <span>Free returns within 30 days</span>
      <a href="#!" class="lnk lnk-underline">Details</a>
    </div>

    <div class="announcement__links">
      <a href="#!" class="lnk">NewsLetter</a>
      <span class="seperator"></span>
      <a href="#!" class="lnk">My Order</a>
    </div>

  </div>
</div>


{% schema %}
  {
    "name": "Announcement",
    "tag": "section",
    "class": "announcement",
    "settings": [
      {
        "type": "checkbox",
        "label": "Store Locator",
        "id": "store_locator",
        "default": true
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Top Announcement"
      }
    ]
  }
{% endschema %}