{{ 'header.css' | asset_url | stylesheet_tag }}

<div class="container">

  <div class="header__flex">

    <div class="header__nav">
      <nav class="s-nav">
        <ul class="s-nav__list">
          {% for block in section.blocks %}

            {% case block.type %}

              {% when 'nav' %}

                {% if block.settings.men %}
                  <li>
                    <a class="s-nav__item" href="#!">Men</a>
                  </li>
                {% endif %}

                {% if block.settings.women %}
                  <li>
                    <a class="s-nav__item" href="#!">Women</a>
                  </li>
                {% endif %}

                {% if block.settings.kids %}
                  <li>
                    <a class="s-nav__item" href="#!">Kids</a>
                  </li>
                {% endif %}

                {% if block.settings.activities %}
                  <li>
                    <a class="s-nav__item" href="#!">Activities</a>
                  </li>
                {% endif %}

                {% if block.settings.explore %}
                  <li>
                    <a class="s-nav__item" href="/collections">Explore</a>
                  </li>
                {% endif %}

            {% endcase %}
          {% endfor %}
        </ul>
      </nav>

      <div class="hamburger">
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <rect
            width="36"
            height="36"
            rx="2"
            fill="black" />
          <rect
            x="8.39844"
            y="17.5449"
            width="15.0891"
            height="1.37143"
            fill="white" />
          <rect
            x="8.39844"
            y="10.7998"
            width="19.2"
            height="1.37143"
            fill="white" />
          <rect
            x="8.39844"
            y="24.292"
            width="9.94629"
            height="1.37143"
            fill="white" />
        </svg>


      </div>
    </div>

    <div class="siteLogo">
      <a href="/">
        {{ section.settings.logo }}
      </a>
    </div>

    <div class="header__action">
      <a href="/customers/account">
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M13.5295 4.55298C12.8466 4.55408 12.1921 4.82582 11.7093 5.30865C11.2264 5.79149 10.9547 6.44604 10.9536 7.12887V10.5413C10.9547 11.2241 11.2264 11.8787 11.7093 12.3615C12.1921 12.8443 12.8466 13.1161 13.5295 13.1172H16.8425C17.5253 13.1161 18.1799 12.8443 18.6627 12.3615C19.1456 11.8787 19.4173 11.2241 19.4184 10.5413V7.14129C19.4206 6.45845 19.152 5.80259 18.6715 5.31742C18.191 4.83226 17.5378 4.55737 16.8549 4.55298H13.5295ZM16.8425 14.6909H13.5295C12.4311 14.6909 11.3778 14.2546 10.6011 13.4779C9.8245 12.7013 9.38818 11.6479 9.38818 10.5496V7.14129C9.38818 6.04295 9.8245 4.9896 10.6011 4.21296C11.3778 3.43631 12.4311 3 13.5295 3H16.8425C17.9408 3 18.9942 3.43631 19.7708 4.21296C20.5475 4.9896 20.9838 6.04295 20.9838 7.14129V10.5537C20.9838 11.0976 20.8767 11.6361 20.6686 12.1385C20.4604 12.641 20.1554 13.0975 19.7708 13.4821C19.3863 13.8666 18.9298 14.1717 18.4273 14.3798C17.9249 14.5879 17.3864 14.695 16.8425 14.695" fill="black" />
          <path d="M22.8731 19.0191C23.3569 19.502 23.6292 20.1572 23.6303 20.8408H25.1915C25.1915 20.8408 25.1915 19.1254 23.9786 17.9124C23.2019 17.1358 22.1486 16.6995 21.0502 16.6995H8.9411C7.84276 16.6995 6.7894 17.1358 6.01276 17.9124C5.23612 18.6891 4.7998 19.7424 4.7998 20.8408V26.8332H17.8798L16.3798 25.2595H6.36935V20.8408C6.37045 20.1579 6.64219 19.5034 7.12502 19.0205C7.60786 18.5377 8.26241 18.266 8.94524 18.2649H21.0502C21.7338 18.2649 22.3894 18.5361 22.8731 19.0191Z" fill="black" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M29.1062 20.3956C29.512 20.7944 29.5177 21.4468 29.1189 21.8527L23.2285 27.9325C23.0347 28.1297 22.77 28.2407 22.4936 28.2407C22.2172 28.2407 21.9524 28.1297 21.7587 27.9325L18.5953 24.6694C18.1964 24.2635 18.2021 23.6112 18.608 23.2123C19.0138 22.8134 19.6662 22.8191 20.0651 23.225L22.4936 25.7403L27.6491 20.4082C28.048 20.0024 28.7003 19.9967 29.1062 20.3956Z"
            fill="#E60958" />
        </svg>

      </a>

      <a href="/cart" class="cart-icon">
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M25.2002 26.4681H4.2002L6.24966 9.66228C6.26355 9.33458 6.40356 9.02492 6.64045 8.79807C6.87734 8.57121 7.19269 8.44471 7.52069 8.44501H9.5371C9.5371 6.19264 9.95114 4.75179 10.7792 3.91543C11.7398 2.96728 13.0357 2.98798 14.2985 3.00454H14.8327H15.0646C16.5054 3.00454 17.7599 3.00455 18.6501 3.89059C19.4409 4.6814 19.8012 6.05187 19.8301 8.44501H21.8299C22.1579 8.44471 22.4733 8.57121 22.7102 8.79807C22.9471 9.02492 23.0871 9.33458 23.101 9.66228L25.2002 26.4681ZM5.88526 24.9775H23.5109L21.6311 9.93553H7.71952L5.88526 24.9775ZM11.0152 8.44501H18.3354C18.3106 6.56527 18.0663 5.42253 17.5943 4.95052C17.1223 4.47852 16.3936 4.50336 15.0646 4.50336H14.2737C13.0771 4.50336 12.3195 4.50337 11.8267 4.98365C11.334 5.46394 11.0194 6.66878 11.0152 8.44501Z" fill="black" />
        </svg>
        <div class="cart__count">
          0
        </div>
      </a>
    </div>

  </div>
</div>

{% javascript %}
  (function() {
    let cartCountDiv = document.querySelector(".cart__count");
    fetch('/cart.js').then(response => response.json()).then(data => {
      const cartItemCount = data.item_count;
      cartCountDiv.innerHTML = cartItemCount;
    });

  })()
{% endjavascript %}


{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "s-header",
    "settings": [
      {
        "type": "text",
        "label": "Logo",
        "id": "logo",
        "default": "Sonang Test",
        "placeholder": "Logo"
      }
    ],
    "blocks": [
      {
        "type": "nav",
        "name": "nav",
        "limit": 5,
        "settings": [
          {
            "type": "checkbox",
            "label": "Men",
            "id": "men",
            "default": true
          },
          {
            "type": "checkbox",
            "label": "Women",
            "id": "women",
            "default": true
          },
          {
            "type": "checkbox",
            "label": "Kids",
            "id": "kids",
            "default": true
          },
          {
            "type": "checkbox",
            "label": "Activities",
            "id": "activities",
            "default": true
          }, {
            "type": "checkbox",
            "label": "Explore",
            "id": "explore",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Header"
      }
    ]
  }
{% endschema %}