/* Layout */

.container {
  margin: 0 auto;
  width: 96%;
  max-width: 1084px;
}

/* Links */

.lnk {
  text-decoration: none;
  color: #707070;
}
.lnk.lnk-underline {
  text-decoration: underline;
}

/* Typography */
.sectionTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
}
