.sonang {
  max-width: 1084px;
  margin: 0 auto;
  padding: 20px 0;
}

.sonang__description {
  height: 100px;
  transition: height 3s;
  overflow: hidden;
  position: relative;
}

.sonang__description.active {
  height: auto;
}

.sonang__img {
  margin-top: 20px;
}

.button-floating {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
