.sonang {
  max-width: 1084px;
  margin: 0 auto;
  padding: 20px 0;
}

.sonang__description {
  max-height: 1000000px;
  height: 190px;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
}

.sonang__img {
  margin-top: 20px;
}

.button-floating {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
